<mat-card class="reise-card">
  <mat-card-header class="flex-none">
    <mat-card-title>{{reise.header}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="flex-fill">
    <div class="content">
      <ul class="flex-fill">
        <li *rxFor="let item of reise.content$">
          {{item}}
        </li>
      </ul>
      <span class="pb-1">
        <em>Termine: {{reise.from | date:'dd.MM.yyyy'}}-{{reise.to | date: 'dd.MM.yyyy'}}</em>
      </span>
      <span class="price flex-none">{{reise.price | currency}}</span>
      <!--{{blink()}}-->
    </div>
  </mat-card-content>
  <mat-card-actions class="flex-none">
    <button mat-button>Buchen</button>
    <button mat-button>Details</button>
  </mat-card-actions>
</mat-card>
