<form autocomplete="off" class="form-container">
  <div class="form-content">
    <h2 mat-subheader>Reisen suchen</h2>
    <div class="pl-3 pr-3">
      <mat-form-field>
        <input matInput [formControl]="sucheControl" placeholder="Suche">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <mat-list>
      <section class="scroll-container">
        <ng-container>
          <reise-list-item *ngFor="let reise of (filteredReisen$ | async)"
                           [reise]="reise"
                           (addAction)="addToCart(reise)">
          </reise-list-item>
        </ng-container>
      </section>
    </mat-list>
  </div>
</form>
