<form autocomplete="off" class="form-container">
  <div class="form-content">
    <h2 mat-subheader>Reisen suchen</h2>
    <div class="pl-3 pr-3">
      <mat-form-field>
        <input matInput [formControl]="sucheControl" placeholder="Suche">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <mat-list>
      <section class="scroll-container" [perfectScrollbar]="{}">
        <ng-container>
          <app-reise-list-item *rxFor="let reise of filteredReisen$"
                               [reise]="reise"
                               (addAction)="addToCart(reise)">
          </app-reise-list-item>
        </ng-container>
      </section>
    </mat-list>
  </div>
</form>
