<form autocomplete="off" class="form-container">
  <div class="form-content">
    <h2 mat-subheader>Warenkorb</h2>
    <mat-list>
      <ng-scrollbar autoHeightDisabled="false">
        <section class="scroll-container">
          <ng-container *ngFor="let item of (basket$ | async)">
            <mat-list-item>
              <h4 mat-line>{{item?.header}}</h4>
              <p mat-line>{{item?.content}} </p>
            </mat-list-item>
          </ng-container>
        </section>
      </ng-scrollbar>
    </mat-list>
    <my-counter></my-counter>
  </div>
</form>
