<form autocomplete="off" class="form-container">
  <div class="form-content">
    <h2 mat-subheader>Warenkorb</h2>
    <mat-list>
      <section class="scroll-container" [perfectScrollbar]="{}">
        <ng-container *rxFor="let basketItem of basket$">
          <mat-list-item>
            <h4 mat-line>{{basketItem?.header}}</h4>
            <p mat-line>{{basketItem?.content}} </p>
          </mat-list-item>
        </ng-container>
      </section>
    </mat-list>
    <my-counter></my-counter>
  </div>
</form>
